{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="center">
        <div class="horizontal">
            <div class="left"><p class="search_text">SEARCH</p></div>
            <div class="item">
                <form action="/" class="search_form" method="GET">
                    <input type="search" class="search_input" name="s">
                </form>
            </div>
        </div>
        {% if is_search %}
            <div class="center" style="margin-bottom: 10px">Found {{ movie_data|length }} movie(s)!</div>
            <div class="flex-container">
                {% for movie in movie_data %}
                    <div class="flex-item">
                        <h3>{{ movie.title }}</h3>
                        Release year: {{ movie.release_year }}
                        {% if movie.country %} | Country: {{ movie.country }}{% endif %}
                    </div>
                {% endfor %}
            </div>
        {% elif is_grade %}
            <div class="center" style="margin-bottom: 10px">Found {{ movie_data|length }} movie(s)!</div>
            <div class="flex-container">
                {% for movie in movie_data %}
                    <div class="flex-item">
                        <h3>{{ movie.title }}</h3>
                        Rating: {{ movie.rating }}
                        {% if movie.description %}<br>Description: {{ movie.description }}{% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}